<div id="comment-list">
    {{#commentDto}}
        <div class="card m-2">
            <div class="card-header">
                {{nickname}}
            </div>
            <div class="card-body">
                {{body}}
            </div>
        </div>
    {{/commentDto}}
</div>